<html>
    <head>
        <title>Harshil_Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hawkins Blog Department</a></h1>
        </div>

        <div>
            <p>published: 10.07.2019, 20:02</p>
            <h2><a href="">My first post</a></h2>
            <p><em>India lost to New Zealand</em><br>New Zealand won by 18 runs in a nail-biting semi-final. Major fallback for Indian team was lost of 4 top-order wickets in the first powerplay.</p>
        </div>

        <div>
            <p>published: 11.07.2019, 20:07</p>
            <h2><a href="">My second post</a></h2>
            <p>This post covers podcast that is occasionall held by Prime Minister <em>Narendra Modi</em>. </p>
        </div>
    </body>
</html>